[common]
server_addr = frp-sh.sang.pp.ua
server_port = 7000
tls_enable = true

[home-ssh]
type = tcp
local_ip = 127.0.0.1
local_port = 22
remote_port = 40022
subdomain = home

[home-smb]
type = tcp
local_ip = 127.0.0.1
local_port = 445
remote_port = 40445
subdomain = home

[home-proxy]
type = tcp
local_ip = 127.0.0.1
local_port = 443
remote_port = 40443
subdomain = home

[home-http]
type = http
local_ip = 127.0.0.1
local_port = 80
custom_domains = *.home.frp-sh.sang.pp.ua
