<VirtualHost *:%PORT%>
    ServerName %DOMAIN%
    ServerAlias filerun.%DOMAIN%
    DirectoryIndex index.html index.php
    DocumentRoot /var/www/filerun
</VirtualHost>

<VirtualHost *:%FRPC_PORT%>
    ServerName %FRPC_DOMAIN%
    ServerAlias filerun.%FRPC_DOMAIN%
    DirectoryIndex index.html index.php
    DocumentRoot /var/www/filerun
</VirtualHost>

