<VirtualHost *:80>
    ServerName %DOMAIN%
    ServerAlias frp.%DOMAIN%
    ProxyPreserveHost On
    ProxyPass / http://localhost:7500/
    ProxyPassReverse / http://localhost:7500/
</VirtualHost>

<VirtualHost *:80>
    ServerName %FRP_DOMAIN%
    ServerAlias *.%FRP_DOMAIN%
    ProxyPreserveHost On
    ProxyPass / http://localhost:7000/
    ProxyPassReverse / http://localhost:7000/
</VirtualHost>

