[Unit]
Description=xmrig service
After=network.target nss-lookup.target

[Service]
User=root
ExecStart=/usr/local/bin/xmrig --config /usr/local/etc/xmrig/config.json

[Install]
WantedBy=multi-user.target
