[credential]
    helper = store
[user]
    name = gitsang
    email = sang.chen@outlook.com
[core]
    autocrlf = input
    editor = vim
[push]
    default = simple
[gui]
    encoding = utf-8
[i18n]
    commitencoding = utf-8
[svn]
    pathnameencoding = utf-8
[core]
    quotepath = false
[pager]
    diff = "vim -c '%sm/\\e.\\{-}m//ge' -c 'set ft=diff' -c 'normal gg' -c 'setlocal buftype=nofile' -" –
    show = "vim -c '%sm/\\e.\\{-}m//ge' -c 'set ft=diff' -c 'normal gg' -c 'setlocal buftype=nofile' -" –
[diff]
    tool = vimdiff
[difftool]
    prompt = false
    trustExitCode = true
[mergetool]
    trustExitCode = true
